body {
    background-color: rgb(213, 234, 237);
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 10px;
    width: 5%;
}
h1 {
color: #1f7b7b;
}
h3 {
color: #66BFBF;
}
